$header: #e1865e;
$yellow: #f4fc84;
$border: #858a3e;
$white: #ffffff;
$blue: #5e91be;
$bg-content: #30303c;
$placeholder: #1b1b1b;
$input-border: #d4c8c8;
$node-header: #fcefdc;
$gray: rgb(150, 150, 150);
